mixin mobile-stub()
    +b.SECTION.mobile-stub
        .wrapper
            .logo
                +icon('logo')
            h2.title Мобильная версия в разработке
            p.text Воспользуйтесь полной версией сайта с компьютера