mixin course-requirements()
    +b.SECTION.course-requirements
        +e.header
            +e.H3.title Требования:
        +e.UL.list
            +e.LI.item
                +e.SPAN.item-icon
                    +icon('js', 'fill')
                +e.SPAN.item-title Node js:
                +e.SPAN.item-sign
                    +icon('exclamation-sign', 'fill')
            +e.LI.item
                +e.SPAN.item-icon
                    +icon('vue', 'fill')
                +e.SPAN.item-title Vue js
                +e.SPAN.item-sign
                    +icon('exclamation-sign', 'fill')
            +e.LI.item
                +e.SPAN.item-icon
                    +icon('webpack', 'fill')
                +e.SPAN.item-title Webpack
                +e.SPAN.item-sign
                    +icon('exclamation-sign', 'fill')
            +e.LI.item
                +e.SPAN.item-icon
                    +icon('react', 'fill')
                +e.SPAN.item-title React
                +e.SPAN.item-sign
                    +icon('exclamation-sign', 'fill')

               


