mixin course-themes()
    +b.SECTION.course-themes
        +e.card
            +course-theme(1, 'passed', 'Пройденный')
        +e.card
            +course-theme(2, 'available', 'Доступный')
        +e.card
            +course-theme(3, 'closed', 'Закрытый')