mixin course-mentors()
    +b.SECTION.course-mentors
        .header
            h3.title Менторы:
        ul.list
            li.item
                .avatar
                    img(src="images/avatar1.jpg", alt="")
                .info
                    .name Константин Константинов
                    .status Author
                    .points
                        .icon
                            +icon('logo')
                        .value
                            | 1000SP
                    .likes
                        .icon
                            +icon('heart')
                        .value
                            | 12
            li.item
                .avatar
                    img(src="images/avatar1.jpg", alt="")
                .info
                    .name Константин Константинов
                    .status Author
                    .points
                        .icon
                            +icon('logo')
                        .value
                            | 1000SP
                    .likes
                        .icon
                            +icon('heart')
                        .value
                            | 8
            li.item
                .avatar
                    img(src="images/avatar1.jpg", alt="")
                .info
                    .name Константин Константинов
                    .status Author
                    .points
                        .icon
                            +icon('logo')
                        .value
                            | 1000SP
                    .likes
                        .icon
                            +icon('heart')
                        .value
                            | 99
            li.item
                .avatar
                    img(src="images/avatar1.jpg", alt="")
                .info
                    .name Константин Константинов
                    .status Author
                    .points
                        .icon
                            +icon('logo')
                        .value
                            | 1000SP
                    .likes
                        .icon
                            +icon('heart')
                        .value
                            | 99
        button.load-more(type='button') 
            span Показать все
                .icon
                    +icon('down-arrow')