mixin course-data-short()
    +b.SECTION.course-data-short
                +e.row
                    +e.date
                        +e.SPAN.date-label До начала курса
                        +e.SPAN.date-value 29.02.2019
                +e.row
                    +e.appeal
                        +e.appeal-title До окончания скидки 20% 
                        +e.appeal-timer
                            +timer
                +e.row
                    +e.price
                        +e.price-title Стоимость
                        +e.price-old 60000 руб.
                        +e.price-new 35000 руб.
                +e.row
                    +e.A.appeal-button(href='#') Записаться