@import "includes/fonts.scss";
@import "variables.scss";
// @import "includes/normalize.scss";
@import "sprite.scss";
@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "../blocks/**/*";


svg,
svg path {
    fill: inherit;
}