mixin person-socials()
    +b.UL.person-socials
        +e.LI.item
            +e.A.link(href='#' title='telegram')
                i(class="fab fa-telegram-plane")
        +e.LI.item
            +e.A.link(href='#' title='linkedIn')
                i(class="fab fa-linkedin-in")