mixin content-wrapper()
    +b.content-wrapper
        +inner
            +e.row
                +main-content
                    +course-preview
                    +course-speakers
                    +course-themes
                    +course-branches
                    +course-technologies
                    +common-card
                        +course-case
                        +course-works
                    +course-testimonials
                +aside-content