mixin content-wrapper()
    +b.content-wrapper
        +inner
            +e.row
                +main-content
                    +course-preview
                    +course-slider
                    +course-themes
                +aside-content