include template/header
include template/footer
include ../blocks/**/*
doctype
html(lang='ru')
    +doc-header
    body.pageload.no-js
        +board
            +main-navigation
            +main-header
            +inner
                +courses-list
    +doc-footer