include template/header
include template/footer
include ../blocks/**/*
doctype
html(lang='ru')
    +doc-header
    body.pageload.no-js
        +board
            +main-navigation
            +main-header
            +content-wrapper
                +main-content
                    +course-preview
                    +course-speakers
                    +course-themes
                    +course-branches
                    +course-technologies
                    +common-card
                        +course-case
                        +course-works
                    +course-testimonials
                    +course-data
                    +modal-settings
                    +modal-homework
                    +deadline
                +aside-content
                    +course-data-short
                    +course-referal
                    +course-characteristics
                    +course-skills
                    +course-requirements
                    +course-achievements
    +doc-footer