mixin course-works()
    +b.SECTION.course-works
        +e.H2.title Лучшие работы
        +e.slider-wrapper
            +e.slider
                +e.slide
                    +course-work(1, 1, 'medal-gold')
                +e.slide
                    +course-work(2, 2, 'medal-gold')
                +e.slide
                    +course-work(3, 2, 'medal-gold')
                +e.slide
                    +course-work(7, 1, 'medal-simple')
            +e.arrows
                +e.BUTTON.arrow.disabled
                    +icon('chevron-left')
                +e.BUTTON.arrow.--right
                    +icon('chevron-left')
            +e.UL.dots
                +e.LI.dots-item
                    +e.BUTTON.dots-link.active
                +e.LI.dots-item
                    +e.BUTTON.dots-link
                +e.LI.dots-item
                    +e.BUTTON.dots-link
                +e.LI.dots-item
                    +e.BUTTON.dots-link
