mixin course-case()
    +b.SECTION.course-case
        +e.H2.title Практический кейс курса
        +e.content
            +e.preview
                img(src="../images/course-case/preview.png", alt="")
            +e.data
                +e.P.description
                    | Платформа Android является одной из самых востребованных на данный момент: огромное количество поддерживаемых устройств и более 1 миллиарда пользователей по всему миру. 
                +e.features
                    +e.features-title Фичи:
                    +e.UL.features-list 
                        +e.LI.features-item Мультиплатформенность
                        +e.LI.features-item Высоконагруженность
                        +e.LI.features-item Мультиплатформенность
                        +e.LI.features-item Высоконагруженность