.course-testimonials {
    @include card;
    position: relative;
    padding: 40px;
    padding-bottom: 120px;
    margin-left: 40px;
    margin-bottom: 22px;

    background-image: url('../images/course-slider/bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.course-testimonials__title {
    margin-bottom: 25px;
}
