mixin main-header()
    +b.HEADER.main-header
        +inner
            +e.row
                +e.block
                    +e.block-title Ваш баланс:
                    +e.block-value 1000 SkillCoins
                +e.block
                    +e.block-title Skill points:
                    +e.block-value 1350
                    +e.block-icon
                        +icon('logo')
                +e.block.--push-right
                    +header-profile
                +e.block.--one
                    +e.A.notifications.hasNotifications(href='#')
                        +icon('notifications')
                +e.block.--two
                    +e.A.exit(href='#')
                        +e.SPAN.exit-text Выйти
                        +e.SPAN.exit-icon
                            +icon('exit')