mixin main-header()
    +b.HEADER.main-header
        +inner
            +e.row
                +e.block
                    +e.block-title Ваш баланс:
                    +e.block-value 1000 SkillCoins
                +e.block
                    +e.block-title Skill points:
                    +e.block-value 1350
                    +e.block-icon
                +e.block.--push-right
                +e.block
                +e.block