mixin course-achievements()
    +b.SECTION.course-achievements
        +e.header
            +e.title Достижения
        +e.item
            +e.col.--short
                +e.icon
                    +icon('prize', 'fill')
                +e.label +100SP
            +e.col
                +e.item-title Hello World
                +e.item-description Написать первые 500&nbsp;строк кода
                +e.item-points 100/500
        +e.item
            +e.col.--short
                +e.icon
                    +icon('prize', 'fill')
                +e.label +100SP
            +e.col
                +e.item-title Hello World
                +e.item-description Написать первые 500&nbsp;строк кода
                +e.item-points 100/500
