mixin timer()
    +b.timer
        +e.cell
            +e.value 26
            +e.label Дней
        +e.cell
            +e.divider :
        +e.cell
            +e.value 12
            +e.label Часов
        +e.cell
            +e.divider :
        +e.cell
            +e.value 18
            +e.label Минут
        +e.cell
            +e.divider :
        +e.cell
            +e.value 56
            +e.label Секунд