@font-face {
    font-family: 'Roboto Mono';
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/Roboto_Mono/RobotoMono-Light.woff2") format("woff2"),
        url("../fonts/Roboto_Mono/RobotoMono-Light.woff") format("woff");
}

@font-face {
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Roboto_Mono/RobotoMono-Regular.woff2") format("woff2"),
        url("../fonts/Roboto_Mono/RobotoMono-Regular.woff") format("woff");
}

@font-face {
    font-family: 'Roboto Mono';
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Roboto_Mono/RobotoMono-Medium.woff2") format("woff2"),
        url("../fonts/Roboto_Mono/RobotoMono-Medium.woff") format("woff");
}

@font-face {
    font-family: 'Roboto Mono';
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Roboto_Mono/RobotoMono-Bold.woff2") format("woff2"),
        url("../fonts/Roboto_Mono/RobotoMono-Bold.woff") format("woff");
}

@font-face {
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
        url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
}
