mixin course-resources()
    +b.SECTION.course-resources
        .header
            h3.title Ресурсы:
        ul.list
           li.item
                span.item-icon
                    +icon('file-text')
                a.item-title(href='#') Исходники текстов
                span.item-value 20SP
           li.item
                span.item-icon
                    +icon('eye')
                a.item-title(href='#') Видео контент
                span.item-value 5SP
           li.item
                span.item-icon
                    +icon('clipboard')
                a.item-title(href='#') Структура проекта
                span.item-value 
           li.item
                span.item-icon
                    +icon('check-circle')
                a.item-title(href='#') Решение задачи
                span.item-value 100SP