mixin course-skills()
    +b.SECTION.course-skills
        +e.header
            +e.H3.title В курсе изучено:
        +e.UL.list
            +e.LI.item
                +e.SPAN.item-title Мультиплатформенность
                +e.SPAN.item-icon
                    +icon('exclamation-sign', 'fill')
            +e.LI.item
                +e.SPAN.item-title Высоконагруженность
                +e.SPAN.item-icon
                    +icon('exclamation-sign', 'fill')
            +e.LI.item
                +e.SPAN.item-title Мультиплатформенность
                +e.SPAN.item-icon
                    +icon('exclamation-sign', 'fill')
            +e.LI.item
                +e.SPAN.item-title Высоконагруженность
                +e.SPAN.item-icon
                    +icon('exclamation-sign', 'fill')