.title {
    position: relative;
    margin: 0;

    font-family: $roboto;
    color: $darkIndigo;
    font-size: 24px;
    font-weight: 700;
    text-align: center;

    &--light {
        color: #fff;
    }
}
