mixin course-characteristics()
    +b.SECTION.course-characteristics
        +e.header
            +e.H3.title Характеристики:
        +e.UL.list
            +e.LI.item
                +e.SPAN.item-title Threshold:
                +e.SPAN.item-value Junior
            +e.LI.item
                +e.SPAN.item-title Rating:
                +e.SPAN.item-value 20000
            +e.LI.item
                +e.SPAN.item-title Duration:
                +e.SPAN.item-value 40h
            +e.LI.item
                +e.SPAN.item-title Skill Points:
                +e.SPAN.item-value +500
        +e.UL.list
            +e.LI.item
                +e.SPAN.item-icon
                    +icon('js', 'fill')
                +e.SPAN.item-title Node js:
                +e.SPAN.item-value +10
            +e.LI.item
                +e.SPAN.item-icon
                    +icon('vue', 'fill')
                +e.SPAN.item-title Vue js
                +e.SPAN.item-value +2
            +e.LI.item
                +e.SPAN.item-icon
                    +icon('webpack', 'fill')
                +e.SPAN.item-title Webpack
                +e.SPAN.item-value +7
            +e.LI.item
                +e.SPAN.item-icon
                    +icon('react', 'fill')
                +e.SPAN.item-title React
                +e.SPAN.item-value +12

               


