mixin course-notes()
    +b.SECTION.course-notes
        h2.title Заметки автора
        .content
            p.text Платформа Android является одной из самых востребованных на данный момент: огромное количество поддерживаемых устройств и более 1 миллиарда пользователей по всему миру.
            ul.list
                li.item Мультиплатформенность
                li.item Высоконагруженность
                li.item Мультиплатформенность
                li.item Высоконагруженность
            p.text Платформа Android является одной из самых востребованных на данный момент: огромное количество поддерживаемых устройств и более 1 миллиарда пользователей по всему миру.