mixin course-topics()
    +b.SECTION.course-topics
        .header
            h3.title Что изучается:
        ul.list
           li.item
                span.item-title Node js
                span.item-icon
                    +icon('js', 'fill')
                span.item-value +10
           li.item
                span.item-title Vue js
                span.item-icon
                    +icon('vue', 'fill')
                span.item-value +2
           li.item
                span.item-title Webpack
                span.item-icon
                    +icon('webpack', 'fill')
                span.item-value +7
           li.item
                span.item-title React
                span.item-icon
                    +icon('react', 'fill')
                span.item-value +12

               


