mixin course-bar()
    +b.SECTION.course-bar
        .content
            .main
                .column
                    .title Название занятия:
                    .text Домашнее задание
                .column
                    .title Дедлайн:
                    .text 10.11.2018
                .column
                    .title Осталось времени:
                    .text 05:56:42
            .aside
                button(type='button').button Сдать задание