mixin course-branch()
    +b.ARTICLE.course-branch
        +e.HEADER.header
            +e.icon
                +icon('js-round', 'fill')
            +e.date
                | Старт курса:
                | <b>29.02.2019</b>
        +e.MAIN.content
            +e.H3.title Название курса
            +e.P.description
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque
        +e.FOOTER.footer
            +e.A.signup(href='#') Free
            +e.time-left
                +e.SPAN.time-left-icon
                    +icon('clock', 'fill')
                +e.SPAN.time-left-value 22 ч.